.formlogin  {
    background-color: rgba(17, 17, 17, 0.562);
    text-align: center;
    color: lime;
    width: 30vw;
    /* height: 30vh; */
    margin: 12% 10%;
    border: 1px dashed slateblue;
    border-radius: 5%;
    padding: 2vw 3vw;
}

#tvUsername,
#tvPassword {
    margin: 5px;
    font-size: 1.5vw;
}

#btnSubmit {
    width: 30%;
    height: 5%;
}